
body{
    background-color:#eee;
}

.container-error{


    height:700px;
}

.container-fluid-errors{
    padding:0;

}

.row-error{

    background-color:white;
    width:100%;
    padding:20px;

}

