
//main for home


//main for my recent projet



body{

    opacity: 5;
}

.row-main-global {

    padding: 20px;
}
.main{
    height: 200px;





    width: 100%;

    font-size: 19px;
    line-height: 25px;

}


.help-show-note {

     background-color:#d8aa46;
    padding:15px;
    border-radius: 2px;
    color:white;

    font-size: 16px;

    span {
        margin-left: 10px;

    }
}


