

.time_video{
    font-size: 1rem;
    text-align:right;
    border:1px solid rgba(0,0,0,0.8);
    background-color:rgba(0,0,0,0.8);

    color:white;
    float:right;
    transform:translate(10px,50px);

}
