@import "../../framework/TheProgrammer";
.form-group{
    width: 100%;

}


.submit{

    border:none;
    background-color:transparent;
    cursor: pointer;
    color:$colorRose;
    font-size: 1.3em;
    margin:15px 40%;



}

.form-control-TheProgrammer {



}


.form-group-TheProgrammer{
    width: 100%;

    margin-left: auto;
    margin-right:auto;

    input{
        margin-left:7px;
    }
}


label img{

    transform:translateY(10px);
    width: 35px;
    height: 35px;
}


